*.ini
*.pyc
*.log
*.pdf
*.xml
*.png
*.xlsx
venv
.venv
.idea
.env
__pycache__
test_client.py
unit_test.py
test_client.py
rede_empresa_socios_b
rede_empresa_socios_a
debug.csv
rede_empresa_socios_advogados_a
rede_pessoa_a
rede_relacionamentos
DirectData/
Escavador/
